.contact-list {
  .glyphicon {
    margin-right: $xs-size;
    font-size: $md-size;
    color: $white;
  }
}

.maps-thumbnail {
  height: auto;
  width: 100%;
}

.social-media-icons .fa {
  color: $white;
  font-size: $lg-size;
  margin-right: $xxs-size;
}

form.wpcf7-form {
  input,
  textarea{
    margin-top: .664em;
  }
  p {
    margin-bottom: 0.64em !important;
  }

  span.wpcf7-not-valid-tip {
    background: rgba(#FF4F00, .7);
    color: $white;
    padding-left: $xs-size;
    opacity: 1;
    transition: .25s;
    transition-property: opacity;
  }
}

