.panel.featured-work {
  margin: $md-size 0;

  img {
    width: 100%;
    height: auto;
  }
}

img.detailed-work-image {
  width: 100%;
  height: auto !important;
}

#portfolio {
  h2 {
    margin-bottom: $xxs-size;
  }

  p {
    margin-bottom: $xl-size;
  }
}

.featured-work-anchor {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

.panel.featured-work-portfolio {
  background-position: center center;
  padding: 4em 2.2em;
  max-height: 175px;
  color: #fff;
  background-color: lighten(#2e2e2e,40%);
  background-blend-mode: multiply;
  background-size: 125%;
  transition: .25s;

  p {
    transition: .25s;
  }

  &:hover {
    background-size: 195%;
    transition: .25s;

    p {
      letter-spacing: 4px;
      transition: .25s;
    }
  }
}