.main-hero.jumbotron {
  background-color: rgba($brand-primary, .6);
  background-blend-mode: multiply;
  background-image: url('../images/hero-background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: $xxl-size;
  margin-to: $xxl-size;
  height: 55vh;
  padding-top: 100px;

  h1 {
    margin-top: $xs-size;
  }

  h1,
  p {
    color: $white;
  }
}

.jumbotron.hero-section.contact {
  background-color: rgba($brand-primary, .6);
  background-image: url('../images/contact-background.jpg');
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  padding: $xl-size 0;

  p {
    margin-bottom: $md-size;
  }

  h1,
  h2,
  p,
  li {
    color: $white;
  }

  .btn.btn-primary {
    background :none;
    border: solid 3px $white;
    padding-left: $xs-size;
    padding-right: $xs-size;
  }
}

.testimonial.jumbotron {
  background: $brand-primary;
  * {
    color: $white;
  }

  hr {
    border-color: $white;
  }
}

@media (max-width: 768px) {

  .jumbotron.hero-section.contact {
    background-image: url('../images/contact-background-mobile.jpg');
  }

  .main-hero.jumbotron {
    background-image: url('../images/hero-background-mobile.jpg');
    height: 75vh;
  }
}