.navbar.navbar-default {
  margin-bottom: 0;
  background: none;
  z-index: 4;
  transition: .4s;
  transition-property: background, border;
  border: none;

  .navbar-nav > li > a {
    color: $white;
    transition: .2s;
    transition-property: color;
  }

  .nav.navbar-nav.navbar-right {
    padding-top: 1.35em;
  }
}

.navbar.navbar-default.filled {
  background: $brand-primary !important;
  transition: .25s;
  transition-property: background, border;

  .navbar-nav > li > a {
    color: $white;
    transition: .25s;
    transition-property: color;
  }
}

.navbar-brand {
  padding-top: $xs-size;
  padding-left: 0;
  padding-right: 0;
  height: 75px;
  width: 150px !important;
  height: auto;
}

body.single.single-post {
  padding-top: $md-size;
}

.page-anchor:before {
  display: block;
  content: " ";
  padding: 75px 0;
  margin-top: -100px;
  visibility: hidden !important;
  z-index: -1;
}

.page-anchor#testimonials:before {
  margin-top: $md-size;
  padding-top: 37.5px;
}

section.testimonial-section {
  padding-top: 0;
  padding-bottom: 75px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $white;
}

@media (max-width: 768px) {
  .collapse.in,
  .navbar-collapse {
    background: rgba($brand-primary, 0.9) !important;
  }

  .page-anchor:before {
    display: block;
    content: " ";
    padding: 75px 0;
    margin-top: -70px;
    visibility: hidden !important;
    z-index: -1;
  }

  .navbar-toggle {
    margin-top: $lg-size;
  }
  body.single.single-post {
    padding-top: $xxl-size;
  }
}

