.team-wrapper {
  margin: 2rem auto;

  h1 {
    margin-bottom: 0;
  }
}
.team-image {
  margin: 0 auto;
  margin-bottom: $xxs-size;
  border-radius: 100%;
  height: 175px;
  width: 175px;
}


@media (max-width: 768px) {
  .team-image {
    height: 120px;
    width: 120px;
  }
}

