.text-center {
  text-align: center;
}


.jumbotron.hero-section {
  margin-bottom: 0 !important;

}

.no-bottom {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.no-top {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
}

section {
  padding: 4em 0;
}
body {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  a,
  {
    margin: 0;
  }
}