//==================================
// set base typogprahy
//==================================
$headline-typeface: "tablet-gothic-condensed";
$body-typeface: "tablet-gothic";

$mobile-body: 14px;
$tablet-body: 16px;
$desktop-body: 18px;
$lg-desktop-body: 16px;


body * {
  font-family:$body-typeface;
  line-height: 125% !important;
}
div.jumbotron h1 {
  font-family: $headline-typeface;
  line-height: 100%;
}

h1 {
  font-family:$headline-typeface;
  font-weight: 400 !important;
  line-height: 125%;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 3px;
  margin-bottom: 1rem !important;
}

h2 {
  font-family:$headline-typeface;
  font-weight: $regular;
  line-height: 105%;
}
h3 {
  font-family:$headline-typeface;
  font-weight: $regular;
  line-height: 105%;
}

h4 {
  font-family:$headline-typeface;
  font-weight: $regular;
  line-height: 105%;
}

.featured-work-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

div.jumbotron p {
  line-height: 125%;
}

p {
  font-family:$body-typeface;
  font-weight: $regular;
  line-height: 125%;
}

.jumbotron p {
  font-size: $sm-size;
  font-weight: 300 !important;
}

label {
  font-family:$headline-typeface;
  font-weight: bold;
  line-height: 120%;
}

.team-name {
  text-transform: uppercase;
  font-size: $xs-size;
}

//==================================
// responsive typography
//==================================

//mobile-only styles
@media (max-width: 768px) {
  /*Mobile typeface sizes*/
  body {
    font-size: $mobile-body;
  }

  h1 {
    font-size: $md-size !important;
    text-align: left !important;
  }
  ul.social-media {
    text-align: left !important;
    * {
      text-align: left !important;
    }
  }

  h2 {
    font-size: $md-size;
  }
  h3 {
    font-size: $sm-size;
  }
  h4 {
    font-size: $sm-size;
  }
  p {
    font-size: $xs-size !important;
    text-align: left !important;
  }

  .featured-work-title {
    font-size: $xs-size;
    text-align: center !important;
  }

  h4.team-name {
    text-transform: capitalize;
  }

  p.team-title {
    text-align: center !important;
  }

  h1.team-headline {
    text-align: center !important;
  }

}

//for tablet sizes
@media (min-width: 768px) {
  /*Tablet typeface sizes*/
  body {
    font-size: $tablet-body;
  }
  h1 {
    font-size: $xl-size !important;
  }

  h2 {
    font-size: $lg-size;
  }
  h3 {
    font-size: $md-size;
  }
  h4 {
    font-size: $sm-size;
  }
  p {
    font-size: $xs-size;
  }
  .featured-work-title {
    font-size: $xxs-size;
  }
  //for nothing bigger than tablet
  @media (max-width: 992px) {

  }
}

//for desktop (medium) sizes
@media(min-width:992px){
  /*Desktop typeface sizes*/
  body {
    font-size: $desktop-body;
  }
  h1 {
    font-size: $xl-size !important;;
  }

  h2 {
    font-size: $lg-size;
  }
  h3 {
    font-size: $md-size;
  }
  h4 {
    font-size: $sm-size;
  }
  p {
    font-size: $xs-size;
  }
  .featured-work-title {
    font-size: $xxs-size;
  }

  //for nothing bigger than desktop (medium)
  @media (max-width: 1200px) {

  }
}

//For desktop (large) sizes
@media(min-width:1200px){
  /*Large Desktop typeface sizes*/
  body {
    font-size: $lg-desktop-body;
  }
  h1 {
    font-size: $xl-size !important;;
  }

  h2 {
    font-size: $lg-size;
  }
  h3 {
    font-size: $md-size;
  }
  h4 {
    font-size: $sm-size;
  }
  p {
    font-size: $xs-size;
  }
  .featured-work-title {
    font-size: $xxs-size;
  }
}
