// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #1188cb;
$white:                 #fff;
//================================================
// General Sizes
//================================================
$xxl-size:  3.051em;
$xl-size:   2.441em;
$lg-size:   1.953em;
$md-size:   1.563em;
$sm-size:   1.25em;
$xs-size:   1em;
$xxs-size:  .8em;
$xxxs-size: .645em;
//================================================
// Typography Weights
//================================================
$hairline:  200;
$light:     300;
$regular:   400;
$semi-bold: 500;
$bold:      700;
